 <!DOCTYPE html>
 <html>
    
 <h3 style="text-align:center">Feedback</h3>
<style>
    body{
        text-align:center;
    }
</style>
<body>
    <div class="form-group green-border-focus">
        <label for="exampleFormControlTextarea5"></label>
        <textarea class="form-control" id="exampleFormControlTextarea5" rows="10" id ="txtarea" value="shakthi"  spellcheck="false"  placeholder="share your feedback" title="share the feedback"></textarea>
      </div>
<!--button class = "btn btn-success" type ="submit">Submit</button-->
 <button (click) = "conFirmsubmit()" class="btn btn-success" style="margin-left:10px" title="submit"> Submit</button><br>
<!-- Submit button -->
</body>
</html>