<div class="page-content page-container" id="page-content">
  <div class="padding">
      <div class="row container d-flex justify-content-center">
<div class="col-xl-10 col-md-30">
 <div class="card user-card-full">
<div class="row m-l-0 m-r-0">
<div class="col-sm-4 bg-c-lite-green user-profile">
<div class="card-block text-center text-white">
<div class="m-b-25">
    
    <img src=".\assets\pro.jpeg" class="img-radius" alt="User-Profile-Image">
</div>
<h6 class="f-w-600"> shakthi</h6>
<p>Software Engineer</p>
 <i class=" mdi mdi-square-edit-outline feather icon-edit m-t-10 f-16"></i>
</div>
</div>
<div class="col-sm-8">
<div class="card-block">
<h5 class="m-b-20 p-b-5 b-b-default f-w-600">Information</h5>
<div class="row">
<div class="col-sm-6">
<p class="m-b-10 f-w-600">Email</p>
<h6 class="text-muted f-w-400">Vshakthi2000@gmail.com</h6>
</div>
<div class="col-sm-6">
<p class="m-b-10 f-w-600">Phone</p>
<h6 class="text-muted f-w-400">6381020421</h6>
</div>
</div>
<h6 class="m-b-20 m-t-40 p-b-5 b-b-default f-w-600">Projects</h6>
<div class="row">
<div class="col-sm-6">
                                                                      
<h6 class="text-muted f-w-400">1.library management System</h6>
</div>
<div class="col-sm-6">
                                                                      
<h6 class="text-muted f-w-400">2.Rest Api Project</h6>
 </div>
 </div>
                                                              
</div>
</div>
</div>
</div>
</div>
</div>
</div>
 </div>